<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="user.taghere.taghere" >

    <uses-sdk android:minSdkVersion="8" />

    <!-- Camera Permission for QR code -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Permission for NFC -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- Permission for sending Keyvalue -->
    <uses-permission android:name="android.permission.INTERNET" />

    <user-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".StartSceneActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReadActivity"
            android:label="@string/title_activity_image" >
        </activity>
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_image"
            android:screenOrientation="landscape">
        </activity>

    </application>

</manifest>
